.true--__--slider {
  background: red;
  display: flex;
  position: relative;
  overflow: hidden;
}

.true--__--slider__image {
  object-fit: cover;
  position: absolute;
  width: 100%;
  transition: .5s;
}